---
import { ArrowUpRight } from "lucide-react";
---

<section id="contact" class="contact-section">
  <div class="contact-container">
    <h2 class="contact-heading">
      Construyamos algo <span class="word-grandioso">grandioso!</span>
      <br />
      <a href="#contact-modal" class="contact-cta">
        <span class="word-hablemos">Hablemos</span>
        <ArrowUpRight className="pointer-icon" />
      </a>
    </h2>
  </div>
</section>
