---
import { ContactModal } from "./ContactModal";
---

<section id="contact" class="contact-section">
  <div class="contact-container">
    <h2 class="contact-heading">
      Construyamos algo <span class="word-grandioso">grandioso!</span>
      <br />
      <ContactModal client:load />
    </h2>
  </div>
</section>
