---
// src/components/layout/Footer.astro
const currentYear = new Date().getFullYear();
---

<footer class="py-[2svh] w-full border-t border-border/50">
  <p class="text-muted-foreground text-center text-sm">
    &copy; {currentYear} Alan García
  </p>
</footer>
