.hero-content{
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    user-select: none;
}

.hero-top{
    color: #000000;
    padding: 0 1em;
    line-height: 2.6lh;
    color: #C0FE04;
    margin-bottom: 1em;
    & h1 {
        font-family: "Oxanium Variable", "Oxanium", system-ui, sans-serif;
        font-size: 4rem;
        font-weight: 900;
        text-transform: uppercase;
    }
}
.glitch-wrap {
    position: relative;
}

.glitch {
    display: inline-block;
    position: relative;
    animation: glitch 0.6s linear 0.2s;
}


.glitch:before,
.glitch:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    z-index: -1;
    visibility: hidden;
}

.glitch:before {
    animation: glitchTop 0.6s linear 0.2s;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

.glitch:after {
    animation: glitchBotom 0.6s linear 0.2s;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitch {
    0%, 100% {
        transform: translate(0) skew(0);
    }
    20% {
        transform: translate(-4px, 2px) skew(4deg);
    }
    40% {
        transform: translate(4px, -2px) skew(-4deg);
    }
    60% {
        transform: translate(-2px, 1px) skew(2deg);
    }
}

@keyframes glitchTop {
    0%, 100% {
        transform: translate(0);
        visibility: hidden;
    }
    20% {
        transform: translate(-6px, 2px) skew(-4deg);
        visibility: visible;
    }
    40% {
        transform: translate(6px, -1px) skew(3deg);
        visibility: visible;
    }
    60% {
        transform: translate(-3px, 0) skew(-2deg);
        visibility: visible;
    }
}

@keyframes glitchBotom {
    0%, 100% {
        transform: translate(0);
        visibility: hidden;
    }
    20% {
        transform: translate(6px, -2px) skew(4deg);
        visibility: visible;
    }
    40% {
        transform: translate(-5px, 2px) skew(-3deg);
        visibility: visible;
    }
    60% {
        transform: translate(3px, -1px) skew(2deg);
        visibility: visible;
    }
}

.hero-bottom {
    display: grid;
    grid-template-columns: 7fr 1fr;
    padding: 1em 1.5em;
    font-family: "Oxanium Variable", "Oxanium", system-ui, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    width: 100%;
    height: auto;
    background-color: #C0FE04;
    color: black;
    position: relative;
    justify-content: space-between;
    align-items: flex-start;
    & .hero-subtitle {
        margin: auto 0;
        font-weight: 500;
        font-size: 1em;
    }
    & .social-container {
        display: flex;
        flex-direction: row;
        gap: 1.25em;
        margin: auto 0;
        justify-content: flex-end;
    }
    & .hero-description {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #C0FE04;
        padding: 0 1.5em 1em 1.5em;
        box-sizing: border-box;
        margin: 0;
        font-weight: 300;
    }
    & .social-icon {
        & svg {
            width: 25px;
            height: 25px;
        }
    }
}