---
interface Props {
	title?: string;
}

const { title } = Astro.props;
---

<div class="w-full border-b border-border/50 my-[1.5dvh]">
  <div class="w-[90dvw] mx-auto">
    <h2
      class="text-[clamp(1.5rem,3vw,3rem)] font-bold tracking-tight text-foreground uppercase font-oxanium"
    >
      {title ? title : <slot />}
    </h2>
  </div>
</div>
